<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Secret Santa Admin</title>
    <meta name="description" content="Login to continue." />
    <!-- <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/admin.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Admin
      </h1>
    </header>

    <main>
      <p class="bold">Who goes there?</p>
      <p>Please enter your <b>✨fancy✨ token</b> to continue…</p>

      <form class="bg lightcoral">
        <input
          name="token"
          aria-label="your token!"
          type="text"
          maxlength="100"
          placeholder="mysterious token…"
        />
        <button type="submit" id="submit-token">Am I worthy?</button>
      </form>

      <section id="unauthorized">
        <p>
          <b>Hmm, nope, that’s not it.</b>
        </p>
      </section>

      <section id="people-admin">
        <p><b>Welcome, sirrah.</b> Please enjoy this fabulous list.</p>
        <ul id="people"></ul>
        <button id="clear-people">
          Clear people
        </button>
        <div id="control-panel">
          <p>
            <br /><i>When you’re ready…</i><br />
            <button id="assign-secret-santa" class="red">
              ASSIGN SECRET SANTA PARTNERS
            </button>
          </p>
          <p>
            <i>The next step…</i><br />
            <button id="send-text" class="red">
              INFORM THE MASSES
            </button>
          </p>
          <br /><br /><br />
          <p>
            <i>Are you really gonna do this?</i><br />
            <button id="show-assignments" class="red">
              SHOW SECRET SANTA ASSIGNMENTS
            </button>
          </p>
        </div>
      </section>
    </main>

    <footer>Return <a href="/">home</a>?</footer>
  </body>
</html>
