<!DOCTYPE html>
<html lang="en">
  <head>
    <title>***REMOVED*** Secret Santa</title>
    <meta name="description" content="The official ***REMOVED*** Secret Santa." />
    <!-- <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon"> -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        ***REMOVED*** Secret Santa
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi!</p>
      <p>
        Tell me your <b>name</b> and <b>phone number</b>. <br />When the eve is
        nigh, I shall assign thee a partner.
      </p>

      <form class="bg pink">
        <input
          name="name"
          aria-label="your name!"
          type="text"
          maxlength="100"
          placeholder="Name!"
        />
        <input
          name="phone"
          aria-label="your phone number!"
          type="text"
          maxlength="100"
          placeholder="(000) 000-0000"
        />
        <button type="submit" id="submit-details">I’m done!</button>
      </form>

      <section class="bg lightgreen" id="after-submit">
        <p>
          <b>Thine submission pleases me.</b>
        </p>
        <p>
          <i>Hark! I doth proclaim: <b>thine gifts shant exceed $30</b>. </i>
        </p>
      </section>

      <section class="people">
        <p>
          <b>Look who’s already here:</b>
        </p>
        <ul id="people"></ul>
      </section>
    </main>

    <footer>Are you an <a href="/admin">admin</a>?</footer>
  </body>
</html>
