/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: dodgerblue;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

.bg {
  margin-bottom: 25px;
  padding: 15px;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

.cyan {
  background-color: cyan;
}
.lightcoral {
  background-color: lightcoral;
}
.lightgreen {
  background-color: lightgreen;
}
.pink {
  background-color: pink;
}

#after-submit {
  display: none;
}

#people-section {
  display: none;
}

#people-admin {
  display: none;
}

#unauthorized {
  display: none;
}

form {
  display: none;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}
button.red {
  background-color: lightcoral;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  list-style: none;
  padding: 0 0 0.75rem 1rem;
  margin: 0 0 0.75rem -2.5rem;
  border-bottom: 1px solid #ccc;
  max-width: 340px;
  font-size: 1rem;
}
li:last-child {
  border: none;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
  font-size: 14px;
}
